.account-activate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cbb573;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #987b23;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

.activate-button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #987b23;
    color: white;
}