.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal-buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.change-password-confirm-btn{
    background-color: #d38d37;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.change-password-confirm-btn:hover{
    background-color: #844b06;
}

.change-password-cancel-btn{
    background-color: rgb(224, 27, 27);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.2s;
}   

.change-password-cancel-btn:hover{
    background-color: #6e0303;
}