.pg-layout-container {
    display: flex;
    /* min-height: calc(100vh - 70px); adjust for header height */
    font-family: "Lexend", sans-serif;
    align-items: flex-start;
}

.pg-sidebar {
    position: sticky;
    top: 70px;
    width: 200px;
    height: fit-content;
    background: white;
    border-right: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.content {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
}

.pg-sidebar a {
    border: none;
    background: transparent;

    padding: 14px 24px;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: #333;
    transition: background 0.2s ease;
}

.pg-sidebar a.active {
    background: #fff9ee;
    border-right: 4px solid #eba925;
    font-weight: 600;
}

.pg-sidebar a:hover {
    background: #fff9ee;
}