.room-list-container {
    padding: 30px;
    font-family: "Lexend", sans-serif;
}

.room-list-container {
    padding: 30px;
    font-family: "Lexend", sans-serif;
}

.room-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-room-btn {
    background-color: #987b23;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #5b4914;
    transition: all 0.2s ease;
    margin-top: 20px;
}

.add-room-btn:hover {
    background-color: #5b4914;
}

.add-room-btn:active {
    background-color: #4a3a10;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #5b4914;
}

thead {
    background-color: #b79739;
}

th {
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 12px;
    border-bottom: 1px solid #987b23;
}

tbody tr{
    transition: background-color 0.15s ease;
}

tbody tr:hover {
    background-color: #ccb673;
}

.room-list-header h1 {
    color: #5b4914;
}

.room-list-nav-path {
    /* color: #5b4914; */
    color: #434242;
    font-size: 14px;
    margin-bottom: 15px;
}

.room-list-navigator {
    cursor: pointer;
    color: #987b23;
}

.room-list-navigator:hover {
    text-decoration: underline;
}

.occupancy-chip {
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
}

.occupancy-chip.single {
    background-color: #e6f6ea;
    color: #1e7d32;
}

.occupancy-chip.double {
    background-color: #e8f0fe;
    color: #1a73e8;
}

.action-column{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 12px;
}

.filter-button button{
 background-color: #987b23;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #5b4914;
    transition: all 0.2s ease;
    margin-bottom: 20px;    
}

.filter-button button:hover {
    background-color: #5b4914;
}

.filter-button button:active {
    background-color: #4a3a10;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}