@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;600;700&display=swap');
.App {
  text-align: center;
}

.page-box {
  /* background-color: #d6a760; */
  padding: 20px;
  font-family: 'Lexend', sans-serif;
  display: flex;
  justify-content: flex-end;
}





