/*
PG List
PG Details
Rooms List
Room Templates
Tenants List
Dues
Payments
Rooms Details
Tenant Details
*/

.nav-path {
    color: #434242;
    font-size: 14px;
    margin-bottom: 0px;
}

.navigator {
    cursor: pointer;
    color: #987b23;
}

.navigator:hover {
    text-decoration: underline;
}